---
import Container from '@/components/Container.astro';
import Logo from '@/components/Logo.astro';
import StarEightTip from '@/components/icons/StarEightTip.astro';
import WhatsAppInfoCard from '@/components/WhatsAppInfoCard.astro';
import WhatsAppLogo from '@/components/icons/WhatsAppLogo.astro';
import WorksCard from '@/components/WorksCard.astro';
---

<Container>
  <header
    class="relative flex items-center justify-between px-[75px] pt-[33px]"
  >
    <div>
      <label
        class="flex items-center cursor-pointer group"
        for="toggle-works-card"
      >
        <div
          id="StarEightTip-container"
          class="-mt-3 -mr-7 z-0 transition-transform"
        >
          <StarEightTip />
        </div>
        <p
          class="uppercase font-oswald font-semibold text-4xl z-10 group-hover:underline"
        >
          works
        </p>
        <input type="checkbox" class="hidden" id="toggle-works-card" />
      </label>
      <WorksCard
        class="workscard z-100 absolute top-28 transition-all w-full max-w-[333px]"
      />
    </div>
    <div class="cursor-pointer"><Logo /></div>
    <label for="toggle-whatsapp-info">
      <WhatsAppLogo
        class="hover:scale-125 transition-transform cursor-pointer"
      />
      <WhatsAppInfoCard
        class="whatsapp-info-card absolute z-100 top-[100px] right-22 transition-all w-full max-w-[333px]"
      />
      <input type="checkbox" class="hidden" id="toggle-whatsapp-info" />
    </label>
  </header>
</Container>

<style is:inline>
  .workscard,
  .whatsapp-info-card {
    opacity: 0;
  }

  #StarEightTip-container {
    transform: rotate(0deg);
  }

  header:has(#toggle-works-card:checked) {
    & .workscard {
      opacity: 1;
    }

    & #StarEightTip-container {
      transform: rotate(45deg);
    }
  }
  header:has(#toggle-whatsapp-info:checked) {
    & .whatsapp-info-card {
      opacity: 1;
    }
  }
</style>
