---
import Container from './Container.astro';
import Logo from './Logo.astro';
import StarEightTip from './icons/StarEightTip.astro';
import WhatsAppLogo from './icons/WhatsAppLogo.astro';
---

<Container>
  <header class="flex items-center justify-between px-[75px] pt-[33px]">
    <div class="flex items-center">
      <div class="-mt-3 -mr-7"><StarEightTip /></div>
      <p class="uppercase font-oswald semibold text-4xl">works</p>
    </div>
    <Logo />
    <div class="cursor-pointer hover:scale-125 transition-transform">
      <WhatsAppLogo />
    </div>
  </header>
</Container>
