---
import Card from './ui/Card.astro';
import GmailIcon from './icons/GmailIcon.astro';
import LinkedInIcon from './icons/LinkedInIcon.astro';
import WhatsAppQR from './WhatsAppQR.astro';

import { cn } from '@/utils/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<Card class={cn('flex flex-col justify-center items-center', className)}>
  <p class="font-oswald text-2xl">¡Hablemos!</p>
  <p class="text-center">
    Escanea el código para que podamos hablar por whatsapp
  </p>
  <WhatsAppQR />
  <p class="font-oswald text-2xl">También puedes encontrarme en:</p>
  <p class="flex items-center gap-2 self-start">
    <LinkedInIcon />
    <a
      class="hover:underline"
      href="https://www.linkedin.com/in/vero-mendoza-delgado/"
      target="_blank">Vero Mendoza</a
    >
  </p>
  <p class="flex items-center gap-2 self-start">
    <GmailIcon /> vmendoza265@gmail.com
  </p>
</Card>
