---
import Card from './ui/Card.astro';
import GmailIcon from './icons/GmailIcon.astro';
import LinkedInIcon from './icons/LinkedInIcon.astro';
import WhatsAppQR from './WhatsAppQR.astro';

import { cn } from '@/utils/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<Card
  class={cn('flex flex-col justify-center items-center', className)}
  data-access="whatsapp-info-card"
>
  <p class="font-oswald text-[clamp(20.4px,19.34px+0.338vw,24px)]">
    ¡Hablemos!
  </p>
  <p class="text-[clamp(13.6px,12.76px+0.225vw,16px)] text-center">
    Escanea el código para que podamos hablar por whatsapp
  </p>
  <WhatsAppQR />
  <p class="font-oswald text-[clamp(20.4px,19.34px+0.338vw,24px)]">
    También puedes encontrarme en:
  </p>
  <p
    class="flex items-center gap-2 self-start text-[clamp(13.6px,12.76px+0.225vw,16px)]"
  >
    <LinkedInIcon />
    <a
      class="hover:underline"
      href="https://www.linkedin.com/in/vero-mendoza-delgado/"
      target="_blank">Vero Mendoza</a
    >
  </p>
  <p
    class="flex items-center gap-2 self-start text-[clamp(13.6px,12.76px+0.225vw,16px)]"
  >
    <GmailIcon />
    <span>vmendoza265@gmail.com</span>
  </p>
</Card>

<style>
  [data-access='whatsapp-info-card'] {
    width: clamp(280px, calc(261.338px + 4.977vw), 333px);
  }
</style>
