---
import Container from '@/components/Container.astro';
---

<Container>
  <section class="flex justify-center h-[854px] ml-20 mt-[104px]">
    <div class="flex gap-7 -mr-[127px]">
      <div class="flex flex-col gap-10">
        <div class="relative">
          <!-- P -->
          <img
            src="/images/decorative/letter-p.svg"
            alt=""
            class="w-[165px] h-[296px] col-start-1 row-start-1"
          />
          <!-- Pink heart -->
          <img
            src="/images/decorative/pink-flower-lg.svg"
            alt=""
            class="absolute w-[87px] h-[84px] top-12 -left-[55px]"
          />
        </div>
        <div class="relative">
          <!-- F -->
          <img
            src="/images/decorative/letter-f.svg"
            alt=""
            class="w-[136px] h-[296px]"
          />
          <!-- Small star icon -->
          <img
            src="/images/decorative/star-icon-frame-sm.svg"
            alt=""
            class="absolute bottom-0 right-5 w-[54px] h-[57px] animate-scale-pulse"
            style="animation-delay: 0s;"
          />
        </div>
      </div>
      <div class="relative">
        <!-- Star icon frame top -->
        <img
          src="/images/decorative/star-icon-frame.svg"
          alt=""
          class="absolute -top-[70px] -right-28 w-[98px] h-[103px] animate-scale-pulse"
          style="animation-delay: 0.6s;"
        />
        <!-- O (tall) -->
        <img
          src="/images/decorative/letter-o1.svg"
          alt=""
          class="w-[166px] h-[651px] col-start-2 row-start-1 row-end-2"
        />
        <!-- O (medium) -->
        <div class="absolute bottom-[203px] z-50">
          <img
            src="/images/decorative/letter-o2.svg"
            alt=""
            class="w-[166px] h-[319px]"
          />
        </div>
      </div>
    </div>

    <!-- Avatar illustration -->
    <img
      src="/images/avatar.webp"
      alt="Ilustración de Vero Mendoza"
      class="w-[849px] h-[892px] object-cover z-10"
    />

    <div class="flex flex-col gap-10 -ml-[240px] z-20">
      <div class="flex items-center">
        <!-- R -->
        <img
          src="/images/decorative/letter-t.svg"
          alt=""
          class="w-[181px] h-[296px] z-0"
        />
        <!-- T -->
        <div class="relative">
          <img
            src="/images/decorative/letter-r.svg"
            alt=""
            class="w-[150px] h-[296px]"
          />
          <img
            src="/images/decorative/happy-face-orange.svg"
            alt=""
            class="absolute left-4 -bottom-5 w-[64px] h-[64px]"
          />
        </div>
        <!-- A -->
        <div class="relative">
          <img
            src="/images/decorative/letter-a.svg"
            alt=""
            class="w-[141px] h-[295px]"
          />
          <!-- Star icon right -->
          <img
            src="/images/decorative/star-icon-frame-sm.svg"
            alt=""
            class="absolute bottom-0 -left-[55px] w-[85px] h-[89px] animate-scale-pulse"
            style="animation-delay: 1.2s;"
          />
        </div>
      </div>

      <div class="flex items-center gap-10 ml-3">
        <!-- L -->
        <img
          src="/images/decorative/letter-o3.svg"
          alt=""
          class="w-[125px] h-[296px]"
        />
        <!-- I -->
        <img
          src="/images/decorative/letter-i.svg"
          alt=""
          class="w-[58px] h-[296px]"
        />
        <!-- O (small) -->
        <img
          src="/images/decorative/letter-l.svg"
          alt=""
          class="w-[166px] h-[306px]"
        />
      </div>

      <div class="relative self-end -mt-5">
        <!-- Gold star large -->
        <img
          src="/images/decorative/gold-star-lg.svg"
          alt=""
          class="w-[119px] h-[119px]"
        />
        <!-- Green union shape -->
        <img
          src="/images/decorative/green-union.svg"
          alt=""
          class="absolute -left-5 top-0 w-[55px] h-[61px]"
        />
      </div>
    </div>
  </section>
</Container>
